body{ 
  margin: 0px;
  border: 0px;
  background: #dedede;
  min-width: 750px;
  font-family: "微软雅黑";
  font-size: 14px;
}

/*导航*/
.header{
    height: 70px;
    width: 100%;
    background: #333333;
    display: table;
    vertical-align: middle;
}
.header span{
    display: table-cell;
    vertical-align: middle;
    height: 70px;
}
.header span img{
    margin-left: 35px;
    cursor: pointer;
}
nav ul{
    float: right;
    margin: 0px;
    padding: 0px;
}
nav ul li{
    line-height: 70px;
    float: left;
    margin-right: 20px;
}
nav ul li a{
    color: #fff;
  text-decoration: none;
}

/*文章*/
article{
    margin-top: 40px;
    background-color: #FFF;
    margin-left: 40px;
    margin-right: 450px;
    padding: 20px;
    line-height: 1.5;
    margin-bottom: 20px;
    box-shadow: 2px 2px 2px #848484;
}
article span{
    color:#939393;
    font-size:14px;
}
article time{
    color:#939393;
    font-size:14px;
}
article p{
    line-height:30px;
    text-indent:1.5em;
}
article ul li{
    list-style:none;
    line-height:30px;
}
figure{
    margin-bottom:16px;
    padding:8px;
    text-align:center;
    width:180px;
    border:solid 1px #cbcbcb;
    display:inline-block;
}
figure img{

    margin-top:10px;
    max-width:164px;
    height:auto;
}
/*表格*/
article table{
    width:100%;
    text-align:left;
    border-collapse:collapse;
    border:solid #999;
    border-width:1px;
}
article table caption{
    text-align:left;
}       
article table thead{
    color:#dedede;
    background-color:#000;
}
article table th,article table td{
    border:solid #999;
    border-width:0 1px 1px 0;
    padding-left:5px;
}
article table tbody{
    background-color:#fff;
}
article table tfoot{
    background-color:#cbcbcb;
    font-weight:bold;/*字体加粗*/
}

/*侧边栏*/
aside{
    background: #fff;
    float: right;
    width: 350px;
    margin-top: 40px;
    margin-right: 20px;
    padding: 20px;
    box-shadow: 2px 2px 2px #848484;
}
aside h2{

    padding:8px 0 8px 12px;
    border-left:solid 5px #898989;
    font-size:16px;
}
aside form table{
    border:none;
}
aside form table td{
    border:none;
    vertical-align:top;
}
.input-title{
    text-align:right;
    width:150px;
    display:inline-block;
}
.input-body{
    text-align:left;
    width:150px;
    display:inline-block;
}
aside form table td p{
    font-size:12px;/*文字字号*/
    color:#939393;/*文字颜色*/
}
.submit_field{
    height:40px;
    background-color:blue;
    display:block;
    width:100%;
    border:0;
    border-radius:4px;
    color:#fff;
    font-weight:bold;/*字体加粗*/
}        

footer{
    width: 100%;
    height: 60px;
    text-align: center;
    background: #000;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    line-height: 60px;
}
